<!-- Navbarの設置 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Music-record</a>
     <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" >
  <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbar">
  <!--"navbar-nav mr-auto mt-2 mt-lg-0"にするとメニューが左側になる-->
    <ul class="navbar-nav ml-md-auto align-items-center">

  <li class="nav-item">
     <%= link_to "投稿", "#" %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item">
    <%= link_to image_tag(profile_photo(current_user).url, class: "round-img-nav", size:30 ), user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
  </li>

<li class="nav-item">
<form class="form-inline">
  <div class="input-group">
   <div class="input-group-prepend">
     <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
   </div>
   <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
  </div>
  </form>
  </li>
  </ul>
      </div>
    </div>
    <%= javascript_include_tag "navbar.js" %>
</nav>
