.card-wrap {
  margin: 40px 0px;
  border-color: #ffffff;
}

.no-text-decoration {
  text-decoration: none;
  color: #ffffff;
}

.black-color {
  color: #262626;
}

.parts {
  margin: 12px 0;
}
