// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-img {
  background-image: image-url("top_image.jpeg");
  background-repeat:  no-repeat;
  background-size: 1600px;
  max-width: auto;
   height: 600px;

  object-fit: cover;
}
