// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-img {
  background-image: url("top_image.jpeg");
  height: 650px;
  width: 100%;
  object-fit: scale-down;
}
