.profile-form-wrap {
  background: #fff;
  padding: 30px;
  border: none;
}
.profile-form-wrap label {
  font-weight: bold;
}
.edit-profile-wrapper {
  margin-top: 60px;
}
.p {
   margin: 10em 0px;   /* 上下に1em・左右に0px */
}

.profile_photo_field {
  text-align: center;
}
